/*****(1024-750)*****/
@media screen and (max-width: 1024px){
	body{
		font-size: 0.8em;
	}
	.login{
		display: none;
	}
	header .m_login{
		display: block;
	}
	.guide{
		display: none;
	}
	.sns{
		display: none;
	}
	#quick_menu{
		display: none;
	}
	nav{
		display: none;
	}
	header{
		height: 160px;
	}
	header h1{
		position: fixed;
		z-index: 100;
		top:8px;
	}
	header h1 a img{
		width: 150px;
	}
	header .header_mobile{
		display: block;
	}
	header .m_nav_topbg{
		display: block;
	}
	header .m_nav{
		display: block;
	}
	
	#top_fixed .footer_box_img_bg{
		min-width: 350px;
	}
	#top_fixed .action_btn{
		position: absolute;
		right: 10%;
		top: 0;
	}
	#news_intro{
		width: 100%;
		padding-top: 0;
	}
	#news_intro ul.news_intro_img>li{
		float: none;
		width: 100%;
		margin-bottom: 20px;
		display: block;
	}
	#news_intro ul.news_intro_img>li h1{
		float: left;
		width: 30%;
		max-width: 100%
	}
	#news_intro ul.news_intro_img>li h2{
		float: left;
		width: 70%;
		max-width: 100%;
		padding-left: 30px;
		padding-right: 20px;
		margin-top: 5%;
		box-sizing: border-box;
		font-size: 1.8em;
	}
	#news_intro ul.news_intro_img>li p{
		float: left;
		width: 70%;
		max-width: 100%;
		padding-left: 30px;
		padding-right: 20px;
		box-sizing: border-box;
		font-size: 1.3em;
	}
	#news_intro ul.news_intro_img>li h1 span.news_solid{
		height: 100%;
		max-width: 100%;
	}
	
	#certificate_intro{
		display: none;
	}
	#certificate_intro_m{
		display: block;
	}
	
	.notice{
		width: 100%;
	}
	.notice .notice_more, .notice .notice_evet{
		float: none;
		width: 100%;
		font-size: 1.3em;
		padding-left: 5%;
		padding-right: 5%;
	}
	
	.cooperation{
		height: 100%;
	}
	.cooperation .cooperation_section{
		width: 100%;
	}
	.cooperation .cooperation_section .kr_map{
		width: 100%;
		padding: 0;
	}
	.cooperation .cooperation_section .cooperation_intro{
		width: 100%;
		padding: 5%;
	}

	
    .footer_input{
        display: none;
    }
	footer{
		text-align: left;
	}
	footer .footer_map{
		height: 100%;
	}
	footer .footer_map ul.gnb_f{
		width: 100%;
		padding-left: 20px;
	}
	footer .footer_map ul.gnb_f>li{
		width: calc(100%/4);
		height: 220px;
	}
	footer .footer_map ul.gnb_f>li a{
		display: block;
	}
	footer .footer_slide{
		display: none;
	}
	footer .footer_about{
		padding-left: 20px;
	}
	footer .footer_about ul{
		width: 100%;
	}
	footer p{
		padding-left: 20px;
	}
	footer p img{
		width: 150px;
	}
	footer .footer_sns{
		margin: 0;
		padding-left: 20px;
	}
	footer .copy{
		padding-left: 20px;
	}
}
/*****(780)*****/
@media screen and (max-width: 780px){
    body{
        font-size: 0.7em;
    }
	#mainVideo .mainVideo_text h3{
		font-size: 3em;
	}
}
/***********(480)**********/
@media screen and (max-width: 480px){
}