@font-face{
    font-family: 'Noto Sans KR', sans-serif;
    src: url("fonts/NotoSansKR-Bold.otf");
    font-weight: bold;
    font-style: normal;
}
@font-face{
    font-family: 'Noto Sans KR', sans-serif;
    src: url("fonts/NotoSansKR-Medium.otf");
    font-weight: Medium;
    font-style: normal;
}
@font-face{
    font-family: 'Noto Sans KR', sans-serif;
    src: url("fonts/NotoSansKR-light.otf");
    font-weight: light;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration:none;
    color: inherit;
}
ul, li{
    list-style: none;
}
.clear::after{
    display: table;
    content:"";
    clear:both;
}
img{
    vertical-align: top;
    border: 0;
}
body{
    width: 100%;
    color:#222328;
    font-size: 15px;
    line-height: 1;
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
}
#warp{
    width: 100%;
    margin:0 auto;
	overflow: hidden;
}

/*-----------quick_menu------------*/


#quick_menu{
	position:fixed;
	right:50px;
	width:96px;
	top:100px;
	border:1px solid #1e3a6e;
	background-color:#1e3a6e;
	border-radius:15px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
	z-index:110;
}
#quick_menu .text{
	background-color:#1e3a6e;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	height:25px;
	line-height: 25px;
}
#quick_menu .text span{
	font-size:.8rem;
	color:#fff;
}
#quick_menu .quick_menu_img{
	width:100%;
	margin:0 auto;
	transition:0.5s;
	height:100%;
	background-color:#1e3a6e;
}
#quick_menu .quick_menu_img a{
	font-size:0.9em;
	font-weight:500;
	width:100%;
	height:100%;
	display:block;
	color:#000;
	position:relative;
}
#quick_menu .quick_menu_img a>span:hover{
	color: #fff;
}
#quick_menu .quick_menu_Notice,
#quick_menu .quick_menu_consulting,
#quick_menu .quick_menu_coupon,
#quick_menu .quick_menu_kakao,
#quick_menu .quick_menu_review,
#quick_menu .quick_menu_test{
	height:80px;
	background-color:#fff;
}
#quick_menu .quick_menu_Notice:hover,
#quick_menu .quick_menu_consulting:hover,
#quick_menu .quick_menu_coupon:hover,
#quick_menu .quick_menu_review:hover,
#quick_menu .quick_menu_test:hover{
	background-color:#1e3a6e;
	transition: 0.8s;
}
#quick_menu .quick_menu_review{
	border-top-left-radius:15px;
	border-top-right-radius:15px;
}
#quick_menu .quick_menu_Notice .Notice_img,
#quick_menu .quick_menu_consulting .consulting_img,
#quick_menu .quick_menu_coupon .coupon_img,
#quick_menu .quick_menu_kakao .kakao_img,
#quick_menu .quick_menu_review .review_img,
#quick_menu .quick_menu_test .test_img{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
    left: 0;
	line-height: 135px;
}
#quick_menu .quick_menu_Notice .Notice_img{
	background: url('../img/Notice.png') no-repeat;
}
#quick_menu .quick_menu_consulting .consulting_img{
	background: url('../img/consulting.png') no-repeat;
}
#quick_menu .quick_menu_coupon .coupon_img{
	background: url('../img/coupon.png') no-repeat;
}
#quick_menu .quick_menu_kakao .kakao_img{
	background: url('../img/kakao.png') no-repeat;
}
#quick_menu .quick_menu_review .review_img{
	background: url('../img/review.png') no-repeat;
}
#quick_menu .quick_menu_test .test_img{
	background: url('../img/test.png') no-repeat;
}
#quick_menu .quick_menu_Notice .Notice_img:hover{
	background: url('../img/Notice_over.png') no-repeat;
}
#quick_menu .quick_menu_consulting .consulting_img:hover{
	background: url('../img/consulting_over.png') no-repeat;
}
#quick_menu .quick_menu_coupon .coupon_img:hover{
	background: url('../img/coupon_over.png') no-repeat;
}
#quick_menu .quick_menu_review .review_img:hover{
	background: url('../img/review_over.png') no-repeat;
}
#quick_menu .quick_menu_test .test_img:hover{
	background: url('../img/test_over.png') no-repeat;
}
#quick_menu .quick_menu_coupon{
	border-bottom-left-radius:9px;
	border-bottom-right-radius:9px;
}
#quick_menu .quick_menu_kakao{
	width:100%;
	margin:0 auto;
	height:80px;
	line-height:0;
	background:#f8df00;
	color:#000;
}
#quick_menu .last{
	background-color:#1e3a6e;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
	height:5px;
}
#one1{
	position:absolute;
	font-weight:700;
	font-size:20px;
	left:5px;
	top:56px;
	-webkit-animation-name:movingPara;
	-webkit-animation-duration:4s;
	animation-name:movingPara;
	animation-duration:4s;
	-webkit-animation-iteration-count:infinite;
	animation-iteration-count:infinite;
}
@-webkit-keyframes movingPara{
	0%{color:orange}
	20%{color:#ff0}
	40%{color:red}
	80%{color:#00f}
	100%{color:orange}
}
@keyframes movingPara{
	0%{color:orange}
	20%{color:#ff0}
	40%{color:red}
	80%{color:#00f}
	100%{color:orange}
}


/*-----------top_fixed------------*/


#top_fixed{
	position:fixed;
	width:100%;
	bottom:0;
	border-top:1px solid #1e3a6e;
	background:#fff;
	line-height:20px;
	font-size:15px;
	color:#828282;
	z-index:21;
	height:120px;
}
#top_fixed .footer_box{
	height:120px
}
#top_fixed .footer_box_img{
	width:190%;
	max-width:1150px;
	margin:0 auto;
	text-align:left;
	position:relative;
	left:-80px;
}
#top_fixed .footer_box_img_bg{
	width:50%;
	min-width:450px;
	height:120px;
	background:linear-gradient(90deg,#1e3a6e 50%,#fff 50%);
	float:left;
}
#top_fixed .footer_box img{
	position:absolute;
}

#top_fixed .footer_box1{
	float:left;
	width:50%;
	max-width:680px;
}
#top_fixed .footer_box1 .footer_input{
	width:65%;
	float:left;
	padding-left:3%;
}
#top_fixed .footer_box1 .tt{
	width:50%;
	float:left;
}
#top_fixed .footer_box1 .tt input{
	width:80%;
	height:25px;
	margin-top:8px;
	padding-left:10px;
	padding-top:2px;
	padding-bottom:2px;
	font-family:'Noto Sans KR',sans-serif;
	font-size:15px;
}
#top_fixed .footer_box1 .td{
	width:50%;
	float:left;
}
#top_fixed .footer_box1 .td .td_title{
	font-size:16px;
	font-weight:500;
	color:#000;
	margin-top:12px;
}
#top_fixed .footer_box1 .td ul{
	margin-top:5px;
}
#top_fixed .footer_box1 .td li{
	float:left;
	margin-top:3px;
	margin-left:5%;
	font-size:13px;
}
#top_fixed .footer_box1 .td li>span{
	vertical-align:top;
}
#top_fixed .footer_box1 .th{
	width:300px;
	float:left;
	margin-left:10px;
}
#top_fixed .footer_box1 .th li{
	text-align:left;
	margin-top:5px;
	font-size:13px;
}
#top_fixed .footer_box1 .th li>span{
	margin-left:5px;
	vertical-align:top;
}
#top_fixed .footer_box1 .th li>a{
	margin-left:5px;
	color:#3ca9e7;
	text-decoration:underline;
	vertical-align:top;
}

@-webkit-keyframes AnimationName{
	0%{background-position:0 50%}
	50%{background-position:100% 50%}
	100%{background-position:0 50%}
}
@-moz-keyframes AnimationName{
	0%{background-position:0 50%}
	50%{background-position:100% 50%}
	100%{background-position:0 50%}
}
@-o-keyframes AnimationName{
	0%{background-position:0 50%}
	50%{background-position:100% 50%}
	100%{background-position:0 50%}
}
@keyframes AnimationName{
	0%{background-position:0 50%}
	50%{background-position:100% 50%}
	100%{background-position:0 50%}
}
#top_fixed .footer_box_img_bg_m{
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 800px;
	height: 120px;
	background: #eee;
	display: none;
}
#top_fixed .footer_box_img_bg_m img{
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
}
#top_fixed .action_btn{
	color:#000;
	float:left;
	margin-top:5px;
}
#top_fixed .action_btn .container{
	background:linear-gradient(-45deg,#3ca9e7,#6c3ce7,#e73cc9,#e73c7e);
	background-size:400% 400%;
	border-radius:10px;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	-webkit-animation:AnimationName 5s ease infinite;
	-moz-animation:AnimationName 5s ease infinite;
	-o-animation:AnimationName 5s ease infinite;
	animation:AnimationName 5s ease infinite
}
#top_fixed .action_btn .container input{
	padding:10px;
}


/*-----------header------------*/


header{
    width: 100%;
    height: 200px;
    background: #fff;
    position: relative;
    z-index: 99;
}
header .login{
    position: absolute;
    transform: translate(-50%,0);
    left: 20%;
    top: 20px;
}
header .login p{
    text-align: left;
    margin-left: 2px;
    margin-bottom: 2px;
}
header .login ul>li{
    float: left;
    margin-right: 10px;
    font-size: 12px;
    font-weight: bold;
}
header .m_login{
	position: fixed;
	top: 23px;
	right: 20px;
	width: 40px;
	height: 40px;
	background: #fff;
	cursor: pointer;
	display: none;
	z-index: 100;
}
header .m_login ul{
	box-sizing: border-box;
	padding: 15px 8px;
}
header .m_login ul li{
	float: left;
	background: #000;
	width: 4px;
	height: 4px;
	border-radius: 10px;
	margin-right: 3px;
}
header .m_login ul li:last-child{
	margin-right: 0;
}
header .m_login_downbg{
	position: fixed;
	top: 80px;
	width: 100%;
	height: 80px;
	font-size: 15px;
	line-height: 20px;
	color: #999;
	background: #fff;
	box-sizing: border-box;
	border-top: 1px solid #eee;
	display: none;
}
header .m_login_downbg img{
	width: 20px;
	margin-left: 10px;
}
header .m_login_downbg .login_ps{
	float: left;
	margin-top: 25px;
	margin-left: 20px;
}
header .m_login_downbg .login_join{
	float: right;
	margin-top: 25px;
	margin-right: 20px;
	color: #8897ec;
}

header .guide{
    position: absolute;
    transform: translate(-50%,0);
    left: 80%;
    top: 5px;
    width: 150px;
}
header .guide p{
    text-align: right;
    font-size: 12px;
}
header .sns{
    position: absolute;
    transform: translate(-50%,0);
    left: 80%;
    top: 25px;
}
header .sns ul>li{
    float: left;
    margin-right: 10px;
}
header .sns ul>li:last-child{
    margin-right: 0;
}
header .sns ul>li img{
    width: 30px;
}
header h1{
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50px;
    width: 200px;
    margin-top: 30px;
}

.open1{
    transform: rotate(45deg);
    transform-origin:0 50%;
}
.open2{
    opacity: 0;
}
.open3{
    transform: rotate(-45deg);
    transform-origin:0 50%;
}
header .header_mobile{
	position: fixed;
	width: 100%;
	height: 80px;
	background: #fff;
	z-index: 99;
	display: none;
}
header .header_mobile .m_open{
	position: absolute;
    top:30px;
    left: 20px;
    cursor: pointer;
    z-index: 3;
    width: 20px;
    height: 20px;
}
header .header_mobile .m_close{
	position: absolute;
    top:30px;
    left: 20px;
    cursor: pointer;
    z-index: 3;
    width: 20px;
    height: 20px;
	display: none;
}
header .header_mobile .m_open .m_line{
    background-color: #000;
    width: 25px;
    height: 3px;
    display: block;
    border-radius: 100px;
    position: absolute;
    left: 0;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}
header .header_mobile .m_open .m_line1{
	top:0;
}
header .header_mobile .m_open .m_line2{
	top:7.5px;
}
header .header_mobile .m_open .m_line3{
	bottom:0;
}
header .gnb_menu{
	background-color: #242f35;
    position: fixed;
    top:80px;
	left: -1000px;
    z-index:99;
	width: 35%;
    height:100vh;
	color: #ccc;
	text-align: left;
}
header .gnb_menu p.gnb_login{
	width: 100%;
	padding-left: 20%;
	box-sizing: border-box;
	line-height: 50px;
	font-size: 1.2em;
	background: #242f35;
	cursor: pointer;
	margin-top: 20px;
}
header .gnb_menu p.gnb_login:hover{
	background: #455057;
	color: #fff;
}
header .gnb_menu p.gnb_login img{
	width: 18px;
	margin-top: 18px;
	position: absolute;
	left: 10%;
}
header .gnb_menu p.gnb_mypage{
	width: 100%;
	padding-left: 20%;
	box-sizing: border-box;
	line-height: 50px;
	font-size: 1.2em;
	background: #242f35;
	cursor: pointer;
}
header .gnb_menu p.gnb_mypage:hover{
	background: #455057;
	color: #fff;
}
header .gnb_menu p.gnb_mypage img{
	width: 18px;
	margin-top: 18px;
	position: absolute;
	left: 10%;
}
header .gnb_menu p.gnb_m{
	width: 100%;
	height: 50px;
	line-height: 50px;
	font-size: 0.9em;
	padding-left: 8%;
	box-sizing: border-box;
}
header .gnb_menu ul.gnb>li{
	width: 100%;
	padding-left: 20%;
	box-sizing: border-box;
	line-height: 50px;
	font-size: 1.2em;
	background: #242f35;
	cursor: pointer;
}
header .gnb_menu ul.gnb>li:hover{
	background: #455057;
	color: #fff;
}
header .gnb_menu ul.sub_m{
	margin-top: 5px;
	margin-bottom: 15px;
	display: none;
}
header .gnb_menu ul.sub_m>li{
	height: 40px;
	width: 100%;
}
header .gnb_menu ul.sub_m>li>a{
	display: block;
	width: 100%;
	height: 100%;
	line-height: 40px;
	font-size: 0.9em;
	font-weight: normal;
}
header .gnb_menu ul.sub_m>li>a:hover{
	background: #6c747a;
	color: #fff;
}

header nav{
    position: absolute;
    transform: translate(-50%,0);
    left: 50%;
    top: 125px;
    width: 900px;
    margin-top: 30px;
    position: absolute;
    right: 10px;
    z-index: 30;
}
header .nav_bg{
    height: 240px;
    background: #fff;
    position: absolute;
    width: 100%;
    top: 200px;
    border-top: 1px solid #ccc;
    box-sizing: border-box;
    display: none;
    z-index: 22;
}
header nav .gnb{
    width: 100%;
    text-align: center;
    font-size: 18px;
    box-sizing: border-box;
    border: 0;
}
header nav .gnb>li{
    width: 16.66%;
    float: left;
}
header nav .gnb>li>a{
    display: block;
    width:100%;
    height:45px;
    font-size: 17px;
    line-height: 45px;
    font-weight: bold;
    box-sizing: border-box;
}
header nav .gnb>li:hover>a{
    color: #01a0ff;
    border-bottom: 2px solid #01a0ff;
    transition: 0.2s;
}
/*
header nav .gnb>li:last-child>a{
    border-right: 0;
*/
}
header nav .gnb>li>.sub{
    width: 100%;
}
header nav .gnb>li>.sub>li{
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 15px;
    display: none;
}
header nav .gnb>li>.sub>li>a{
    display: block;
    width: 100%;
    height: 100%;
}
header nav .gnb>li>.sub>li>a:hover{
    color: #01a0ff;
    transition: 0.2s;
}
header .m_nav_topbg{
	width: 100%;
	height: 80px;
	background: #fff;
	box-shadow: 5px 5px 5px #ddd;
	display: none;
}
header .m_nav{
	display: none;
}
header .m_nav ul li{
	float: left;
	width: calc(100% / 6);
	font-size: 1.3em;
}
header .m_nav ul li a{
	display: block;
	width: 100%;
	height: 80px;
	padding-top: 30px;
	box-sizing: border-box;
	font-weight: bold;
}


/*-----------section------------*/

#mainVideo{
    width:100%;
    height:500px;
    overflow:hidden;
    margin:0 auto;
    position:relative;
    background-color:#fff;
}
#videobg{
    position:absolute;
    left:50%;top:50%;
    transform:translate(-50%,-50%);
    min-width:100%;
    min-height:100%;
    width:auto;
    height:auto;
    z-index:5;
    overflow:hidden;
    opacity:.9;
}
#mainVideo .mainVideo_text{
    position:absolute;
    width:100%;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    max-width:800px;
    z-index:6;
    color:#fff;
    line-height:2;
}
#mainVideo .mainVideo_text h3{
    font-size:40px;
    letter-spacing:-1px;
}
#mainVideo .mainVideo_text p{
    margin-top:40px;
    font-size:16px;
    word-break:keep-all;
    font-weight:300;
}
#mainVideo .mainVideo_text button{
    margin-top:40px;
    font-size:18px;
    border:1px solid #fff;
    border-radius:30px;
    background: none;
	transition: 0.5s;
	color:#fff;
	box-sizing: border-box;
	width: 200px;
	line-height: 40px;
}
#mainVideo .mainVideo_text button:hover{
	background: #fff;
	color:#1e3a6e;
	font-weight: bold;
}
#mainVideo .mainVideo_text button>a{
    display: block;
}


#certificate_intro{
	position: relative;
	width: 1100px;
	height: 700px;
	margin: 0 auto;
}
#certificate_intro .certificate_tit{
	text-align: left;
	font-size: 1.5em;
	font-weight: bold;
	margin: 30px 180px;
}
#certificate_intro .certificate_tit span{
	font-size: 0.7em;
	font-weight: normal;
	margin-left: 20px;
}
#certificate_intro .certificate_tit span:hover{
	color: #3c73d6;
}
#certificate_intro .certificate_map{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

#certificate_intro_m{
	position: relative;
	width: 100%;
	height: 100%;
	display: none;
}
#certificate_intro_m .certificate_m_tit{
	text-align: left;
	font-size: 1.5em;
	font-weight: bold;
	margin: 30px 50px;
}
#certificate_intro_m .certificate_m_tit span{
	font-size: 0.7em;
	font-weight: normal;
	margin-left: 20px;
}
#certificate_intro_m .certificate_m_tit span:hover{
	color: #3c73d6;
}


#news_intro{
	width: 1100px;
	margin: 0 auto;
	padding-top: 30px;
	padding-bottom: 50px;
	box-sizing: border-box;
}
#news_intro .news_intro_tit{
	text-align: left;
	font-size: 1.5em;
	font-weight: bold;
	margin: 30px 50px;
}
#news_intro .news_intro_tit span{
	font-size: 0.7em;
	font-weight: normal;
	margin-left: 20px;
}
#news_intro .news_intro_tit span:hover{
	color: #3c73d6;
}
#news_intro ul.news_intro_img>li{
	float: left;
	width: calc(100%/3);
	padding-left: 20px;
	box-sizing: border-box;
}
#news_intro ul.news_intro_img>li h1{
	position: relative;
	width: 100%;
	max-width: 300px;
	margin: 0 auto;
}
#news_intro ul.news_intro_img>li h1 img{
	width: 100%;
}
#news_intro ul.news_intro_img>li h1 span.news_solid{
	position: absolute;
	width: 100%;
	max-width: 300px;
	height: 130%;
	top: 0;
	left: 0;
	border: 3px solid #1e3a6e;
	box-sizing: border-box;
	display: none;
}
#news_intro ul.news_intro_img>li h1 span.news_solid:hover{
	transform: translate( -20px, 5% );
	transition: 0.5s;
}
#news_intro ul.news_intro_img>li h1 span.news_solid b{
	background: #1e3a6e;
	color: #fff;
	width: 20px;
	height: 20px;
	line-height: 20px;
	font-size: 0.7em;
	float: right;
}
#news_intro ul.news_intro_img>li h2{
	width: 100%;
	max-width: 300px;
	margin: 0 auto;
	text-align: left;
	font-size: 1.2em;
	font-weight: 500;
	padding-top: 15px;
}
#news_intro ul.news_intro_img>li p{
	width: 100%;
	max-width: 300px;
	margin: 0 auto;
	text-align: left;
	font-size: 0.9em;
	font-weight: 300;
	padding-top: 10px;
	line-height: 1.5;
}


/*************slide**************/


#example4 .sp-slides-container {
	background-color: #fff;
	margin-top: 40px;
}

#example4 .sp-thumbnail-container {
	width: 100%;
	height: 100%;
	overflow: hidden;
	margin-bottom: 10px;
}

#example4 .sp-image-text {
	background: rgba( 80, 80, 80, 0.5 );
	color: #FFF;
	padding: 20px;
}


/*-----------notice------------*/


.notice{
	width: 1100px;
	margin: 0 auto;
}
.notice h1{
	float: left;
	font-size: 1.5em;
}
.notice p.more{
	float: right;
	background: #000;
	color: #fff;
	padding: 0 10px;
	margin-top: 10px;
	margin-right: 20px;
	height: 30px;
	line-height: 26px;
	border-radius: 20px;
	border: 1px solid #000;
	box-sizing: border-box;
	font-size: 0.9em;
	transition: 0.5s;
}
.notice p.more:hover{
	color: #000;
	background: #fff;
	border: 1px solid #000;
}
.notice p.more a{
	display: block;
}
.notice ul{
	text-align: left;
	font-size: 0.9em;
	font-weight: 100;
}
.notice ul li{
	height: 30px;
	line-height: 30px;
	transition: 0.5s;
}
.notice ul li:hover{
	color: #1e3a6e;
	font-weight: 500;
}
.notice .notice_more{
	float: left;
	width: 50%;
	padding-left: 12%;
	padding-right: 5%;
	margin-top: 20px;
	box-sizing: border-box;
}
.notice .notice_more .notice_more_tit{
	width: 100%;
	height: 50px;
	line-height: 50px;
}
.notice .notice_evet{
	float: left;
	width: 50%;
	padding-left: 5%;
	padding-right: 12%;
	margin-top: 20px;
	box-sizing: border-box;
}
.notice .notice_evet .notice_evet_tit{
	width: 100%;
	height: 50px;
	line-height: 50px;
}

/*-----------review------------*/


.best_review{
	margin: 20px 0;
}
.best_review img{
	width: 100%;
	max-width: 800px;
}
.review{
	position: relative;
	max-width: 1100px;
	margin: 0 auto;
}
.review .review_more{
	width: 400px;
	margin: 0 auto;
	padding-top: 50px;
	box-sizing: border-box;
}
.review .review_more p{
	background: #fff;
	border: 2px solid #007042;
	border-radius: 70px;
	color: #007042;
	font-size: 2em;
	font-weight: bold;
	height: 70px;
	line-height: 70px;
	transition: 0.5s;
}
.review .review_more p:hover{
	background: #007042;
	color: #fff;
}
.review .review_more p a{
	display: block;
}


/*-----------cooperation------------*/


.cooperation{
	height: 550px;
	background: #eee;
	margin-top: 40px;
}
.cooperation .cooperation_tit{
	padding-top: 50px;
	font-weight: bold;
	font-size: 1.3em;
}
.cooperation .cooperation_section{
	width: 1100px;
	margin: 0 auto;
	margin-top: 40px;
}
.cooperation .cooperation_section .kr_map{
	float: left;
	width: 50%;
	padding-left: 15%;
	box-sizing: border-box;
}
.cooperation .cooperation_section .cooperation_intro{
	float: left;
	width: 50%;
	text-align: left;
	padding-right: 10%;
	box-sizing: border-box;
}
.cooperation_intro h2{
	font-size: 1.1em;
}
.cooperation_intro ul.gnb_co{
	border-top: 2px solid #000;
	margin-top: 10px;
}
.cooperation_intro ul.gnb_co>li{
	float: left;
	text-align: center;
	font-size: 1em;
	font-weight: 500;
	line-height: 30px;
}
.cooperation_intro ul.gnb_co>li:nth-child(1){
	width: 20%;
}
.cooperation_intro ul.gnb_co>li:nth-child(2){
	width: 50%;
}
.cooperation_intro ul.gnb_co>li:nth-child(3){
	width: 30%;
}
.cooperation_intro ul.gnb_co>li:nth-child(3) ul.sub_co{
	font-size: 0.9em;
}
.cooperation_intro ul.gnb_co>li ul.sub_co{
	border-bottom: 1px solid #000;
	border-top: 1px solid #000;
}
.cooperation_intro ul.gnb_co>li ul.sub_co>li{
	font-size: 0.9em;
	font-weight: 300;
	border-bottom: 1px solid #ccc;
}
.cooperation_intro ul.gnb_co>li ul.sub_co>li:last-child{
	border-bottom: 0;
}
.cooperation_intro ul.gnb_co>li ul.sub_co .sub_co_bt{
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 10px;
	padding: 1px 15px;
	box-sizing: border-box;
	transition: 0.5s;
}
.cooperation_intro ul.gnb_co>li ul.sub_co .sub_co_bt:hover{
	background: #ccc;
	color: #fff;
}



/*-----------footer_map------------*/


footer .footer_map{
	height: 250px;
	background: #eee;
	border-top: 1px solid #ccc;
	box-sizing: border-box;
}
footer .footer_map ul.gnb_f{
	width: 1100px;
	margin: 0 auto;
	padding-top: 20px;
	box-sizing: border-box;
}
footer .footer_map ul.gnb_f>li{
	float: left;
	width: calc(100%/7);
	font-size: 1.1em;
	font-weight: 300;
	height: 25px;
	line-height: 25px;
}
footer .footer_map ul.gnb_f>li ul.sub_f>li{
	font-size: 0.8em;
	font-weight: 100;
}


/*-----------footer_slide------------*/


footer .footer_slide{
	height: 100px;
	background: #fff;
	border-top: 1px solid #ccc;
	box-sizing: border-box;
	padding-top: 20px;
}
.clearfix:after {
	content: '';
	display: block;
	clear: both;
	float: none;
}
.link, .link:visited {
	display: inline-block;
	margin: 20px 0;
	color: #555;
	text-decoration: none;
	font-weight: bold;
}
.link:hover, .link:focus {
	color: #9fd6c2; }
    /* container - body */
#container {
	width: 100%;
	max-width: 1000px;
	margin: auto;
}
.slide_wrap {
	position: relative;
	width: 100%;
	max-width: 800px;
	margin: auto;
}
.slide_box {
	width: 100%;
	margin: auto;
	overflow-x: hidden;
}
.slide_content {
	display: table;
	float: left;
	width: 100%;
	max-width: 200px;
	height: 50px;
}
.slide_content > p {
	padding-top: 0;
}
.slide_content.slide01 {
	background: #ddbdff;
}
.slide_content.slide02 {
	background: #9fd6c2;
}
.slide_content.slide03 {
	background: #abe2f7;
}
.slide_content.slide04 {
	background: #f08c78;
}
.slide_content.slide05 {
	background: #fbdb65;
}
.slide_btn_box > button {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 40px;
	height: 70px;
	font-size: 16px;
	color: #999;
	background: none;
	border: 1px solid #ddd;
	cursor: pointer;
}
.slide_btn_box > .slide_btn_prev {
	left: -100px;
}
.slide_btn_box > .slide_btn_next {
	right: -100px;
}
.slide_pagination {
	position: absolute;
	left: 50%;
	bottom: 0;
	list-style: none;
	margin: 0;
	padding: 0;
	transform: translateX(-50%);
}
.slide_pagination .dot {
/*	display: inline-block;*/
	display: none;
	width: 15px;
	height: 15px;
	margin: 0 5px;
	overflow: hidden;
	background: #ddd;
	border-radius: 50%;
	transition: 0.3s;
}
.slide_pagination .dot.dot_active {
	background: #333;
}
.slide_pagination .dot a {
	display: block;
	width: 100%;
	height: 100%;
}


/*-----------footer_about------------*/


footer .footer_about{
	height: 70px;
	background: #eee;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	box-sizing: border-box;
}
footer .footer_about ul{
	width: 1100px;
	margin: 0 auto;
}
footer .footer_about ul li{
	float: left;
	font-size: 1.1em;
	font-weight: 300;
	line-height: 70px;
	margin: 0 10px;
}
footer .footer_about ul li:first-child{
	margin-left: 0;
}

/*-----------footer------------*/


footer{
    width: 100%;
    height: 100%;
    background: #fff;
}
footer>p{
    padding-top: 10px;
}
footer p img{
	width: 200px;
}
footer .footer_sns{
    height: 50px;
    box-sizing: border-box;
    padding-top: 10px;
	width: 200px;
	margin: 0 auto;
}
footer .footer_sns>li{
	float: left;
	width: 25%;
}
footer .footer_sns>li a img{
	width: 30px;
}
footer .copy{
    box-sizing: border-box;
    padding-top: 30px;
    font-size: 0.9em;
	line-height: 1.5;
	font-weight: 100;
}
footer .copy>li b{
	font-weight: 500;
}
footer .copy>li:last-child{
	margin-top: 20px;
}
footer .copyright p{
	font-size: 0.9em;
	font-weight: 100;
	margin-top: 20px;
	padding-bottom: 150px;
	box-sizing: border-box;
}



